---
    import GitHubLogoWhite from "../assets/GitHubLogoWhite.png";
---

<nav>
    <ul>
        <li><a aria-label="link to about" aria-describedby="section" href="#about">About</a></li>
        <li><a aria-label="link to projects" aria-describedby="section" href="#projects">Projects</a></li>
        <li><a aria-label="link to email" aria-describedby="account" href="mailto:CarlosJobOffers@proton.me">Contact</a>
        </li>
    </ul>
    <ul class="right">
        <li>
            <a aria-label="link to github profile" href="https://github.com/crypto-dot" target="_blank"><img
                    alt="Github Logo" src={GitHubLogoWhite} /></a>
        </li>
    </ul>
</nav>
<script>
    document.addEventListener("scroll", () => {
        let topPos = document.documentElement.scrollTop;
        let remainingContent = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        let percentage = (topPos / remainingContent) * 100;
    });
</script>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    a {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        font-weight: 300;
        font-size: 1.85rem;
        text-decoration: none;
        color: white
    }

    .right a {
        width: 3rem;
    }

    nav {
        position: fixed;
        width: 100%;
        z-index: 999;
        height: 5rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(10px);
        top: 0px;
        padding-bottom: 1rem;
    }

    ul {
        padding-left: 8rem;
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    li {
        border: 1px solid transparent;
        justify-content: center;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        transition: .5s ease-in-out;
    }

    ul.right {
        border-radius: 50%;
        max-width: 4rem;
        margin-right: 1rem;
    }

    li:hover {
        border: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: .5rem;
        transform: translateY(-10px);
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }




    @media (min-width:1400px) {
        ul.right li img {
            width: 40px;
        }

        ul {
            gap: 3rem;
        }

        a {
            font-size: 2rem;
        }
    }

    @media (min-width:1500px) {
        ul.right li img {
            width: 64px;
        }

        a {
            font-size: 2rem;
        }
    }

    @media (min-width: 1600px) {
        a {
            font-size: 2.5rem;
        }

        nav {
            padding: 1rem;
        }

        ul {
            gap: 4rem;
        }

        ul.right {
            justify-content: flex-end;
        }

        ul.right li img {
            width: 64px;
        }

        ul.right li {
            padding-right: 2rem;
        }
    }

    @media (min-width: 1800px) {
        a {
            font-size: 3rem;
        }

        ul {
            gap: 7rem;
        }

        ul.right li {
            padding-right: 2rem;
        }

        ul.right {
            justify-content: flex-end;
        }

        ul.right li img {
            width: 64px;
        }
    }

    @media (min-width: 1900px) {
        a {
            font-size: 4.5rem;
        }

        ul {
            gap: 4rem;
        }
    }



    @media (max-width: 1000px) {
        ul {
            padding-left: 2rem;
        }
    }
</style>