---
	export interface Props {
		link: string,
		img: string,
		alt: string,
		ariaLabel: string
	}
	const { link, img, alt, ariaLabel } = Astro.props as Props;
---

<li class="project">
	<a aria-label={ariaLabel} href={link}>
		<img class="backgroundImgProject" src={img} alt={alt} />
	</a>
</li>
<style>
	* {
		margin: 0;
		padding: 0;
	}

	h3 {
		position: relative;
		font-size: 1.5rem;
		font-weight: 300;

		z-index: 1;
	}


	.backgroundImgProject {
		height: 11rem;
		filter: grayscale(100%) blur(1px);
		-webkit-filter: grayscale(100%) blur(1px);
		transition: .5s ease-in-out;
	}

	.backgroundImgProject:hover {
		filter: grayscale(0%) blur(0px);
		-webkit-filter: grayscale(0%) blur(0px);
		transform: translate3d(1px, -16px, 5px);
	}

	.project {
		position: relative;
		height: 11rem;
	}

	@media (max-width: 930px) {

		.project,
		.backgroundImgProject {
			height: 10rem;
		}
	}

	@media (max-width: 850px) {

		.project,
		.backgroundImgProject {
			height: 19vw;
		}
	}

	@media (max-width: 700px) {

		.project,
		.backgroundImgProject {
			height: 20vw;
		}
	}

	@media (max-width: 650px) {

		.project,
		.backgroundImgProject {
			height: 28vw;
		}
	}

	@media (max-width: 550px) {

		.project,
		.backgroundImgProject {
			height: 30vw;
		}
	}

	@media (max-width: 500px) {

		.project,
		.backgroundImgProject {
			height: 32vw;
		}
	}

	@media (max-width: 450px) {

		.project,
		.backgroundImgProject {
			height: 35vw;
		}
	}

	@media (max-width: 350px) {

		.project,
		.backgroundImgProject {
			height: 40vw;
		}
	}

	@media (max-width: 300px) {

		.project,
		.backgroundImgProject {
			height: 50vw;
		}
	}
</style>
<script>
</script>